.about {
  width: 100%;
  background: url("../img/aboutBg.jpg") no-repeat;
  background-size: cover;
  padding:152px 0 132px;
  &__container {
    width: 1390px;
    margin:0 auto;
    @media screen and (max-width: 1400px){
      width: 95%;
      margin:0 auto;
    }
  }
  &__title {
    font: 40px/40px 'Raleway', sans-serif;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    @media screen and (max-width: 640px){
      text-align: center;
      line-height:50px;
    }
  }
}