<aside class="navigationMobile">
    <div class="navigationMobile__closeBtn js-showMobileMnu">✖</div>
    <ul class="navigationMobile__list">
        <li class="navigationMobile__item">
            <a href="#" class="navigationMobile__link">
                Home
            </a>
        </li>
        <li class="navigationMobile__item">
            <a href="#" class="navigationMobile__link">
                About
            </a>
        </li>
        <li class="navigationMobile__item">
            <a href="#" class="navigationMobile__link">
                Service
            </a>
        </li>
        <li class="navigationMobile__item">
            <a href="#" class="navigationMobile__link">
                Portfolio
            </a>
        </li>
        <li class="navigationMobile__item">
            <a href="#" class="navigationMobile__link">
                Contact
            </a>
        </li>
    </ul>
</aside>