<div class="copyright">
    <div class="copyright__container wrapper">
        <div class="copyright__date">&copy; 2016 Fapor by Respotheme</div>
        <div class="copyright__soc">
            <a href="" class="copyright__link">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="" class="copyright__link">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="" class="copyright__link">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
            <a href="" class="copyright__link">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>