<footer class="footer">
    <div class="footer__container wrapper">
        <div class="footer__column">
            <div class="footer__title">About Favor</div>
            <div class="footer__content">We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful.</div>
        </div>
        <div class="footer__column --center">
            <div class="footer__title">Contact info</div>
            <div class="footer__content">
                PO Box 17122 Nollins Street<br>
                5034 Los Angelos <br><br>
                Phone: <a href="tel:+18005550658" class="footer__link">1800555.0658</a><br>
                Email: <a href="mailto:support@fapor.com" class="footer__link">support@fapor.com</a><br>
                Web: <a href="https://www.fapor.com" class="footer__link">fapor.com</a>
            </div>
        </div>
        <div class="footer__column">
            <div class="footer__title">Subscribe to our newsletter</div>
            <div class="footer__content">
                <form class="footer__form">
                    <input type="text" class="footer__field" id="email" placeholder="Enter your email address" value="">
                    <span id="valid"></span>
                    <button type="submit" class="footer__btn" id="submit">Subscribe now</button>
                </form>
            </div>
        </div>
    </div>
</footer>