<div class="management wrapper">
    <div class="management__title">Management</div>
    <div class="management__container">
        <div class="manager">
            <div class="manager__img">
                <img srcset="img/manager_marketing.jpg 1x, img/manager_marketing-retina.jpg 2x" alt="manager">
            </div>
            <div class="manager__content" >
                <div class="manager__info">
                    <div class="manager__name">Courteney Cox</div>
                    <div class="manager__position">Marketing Manager</div>
                </div>
                <div class="manager__soc">
                    <a href="" class="manager__icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="manager">
            <div class="manager__img">
                <img srcset="img/manager_finance.jpg 1x, img/manager_finance-retina.jpg 2x" alt="manager">
            </div>
            <div class="manager__content">
                <div class="manager__info">
                    <div class="manager__name">Matt Leblanc</div>
                    <div class="manager__position">Finance Manager</div>
                </div>
                <div class="manager__soc">
                    <a href="" class="manager__icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="manager">
            <div class="manager__img">
                <img srcset="img/director.jpg 1x, img/director-retina.jpg 2x" alt="manager">
            </div>
            <div class="manager__content">
                <div class="manager__info">
                    <div class="manager__name">David Schwimmer</div>
                    <div class="manager__position">Creative Director</div>
                </div>
                <div class="manager__soc">
                    <a href="" class="manager__icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="" class="manager__icon">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="management__btn">Show all</button>
</div>