<div class="reviews">
    <div class="wrapper">
        <div class="reviews__title">What our clients say</div>
        <div class="reviews__slider js-slider">
            <div class="reviews__slide">
                <div class="reviews__img">
                    <img src="img/clientAvatar.jpg" alt="Avatar">
                </div>
                <div class="reviews__content">
                    Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.
                </div>
                <div class="reviews__name">Larry Jane</div>
                <div class="reviews__position">General Manager</div>
            </div>
            <div class="reviews__slide">
                <div class="reviews__img">
                    <img src="img/clientAvatar.jpg" alt="Avatar">
                </div>
                <div class="reviews__content">
                    Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Praesent nec elit tristique.
                </div>
                <div class="reviews__name">Larry Jane</div>
                <div class="reviews__position">General Manager</div>
            </div>
        </div>
    </div>
</div>